<h1>Hello There!</h1>

<form action="/birthday" method="post">
  <label for="name">
    What's your name?
  </label>
  <input type="text" name="name">
  <button type="submit" value="Submit">
    Submit
  </button>
</form>
